

* {
    box-sizing: border-box;
}

 /*Font Face */

@font-face {
    font-family: 'quest';
    src: url('../fonts/Questrial-Regular.ttf');
}

html {
    font-family: 'quest', 'Times New Roman', Times, serif;
    color: #2E2532;
    font-size: 14px;
}

body {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    /* color: #f0f0f0; */
}

.nav-bar-main a{
    font-size: 30px;
    margin: 20px 0;
    height: 50px;
    width: 100px;
    color: white;
    text-align: center;
}

.nav-bar-main .router-link-active{
    color: #9E4770;
}

.nav-bar-main a:hover{
   border-bottom:2px solid #9E4770;
   color: #9E4770;
}



/* Helpers */

.container {
    max-width: 980px;
    margin: 0 auto;
}

/* lists */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* flex */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

/* Header */

header {
    height: 100px;
    background: #6B717E;
    border-bottom: 5px solid #9E4770

}

.router-link a{
    text-decoration: none;
    /* color: #f0f0f0; */
}

.home-page h1 {
    /* font-family: 'inco', 'Courier New', Courier, monospace; */
    font-weight: normal;
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin: 20px;
}

.links{
    width: 80%;
    margin: 50px 0;
    
}

header .main-menu a {
    text-transform: uppercase;
}

.home-page li{
    display: flex;
    flex-direction: column;
    align-items: center;

   
}

/* Main */

.home-page img{
    width: 50%;
    transition: all 0.8s ease-in-out;
}

.home-page img:hover{
   transform: scale(1.2)
}



.about h3{
    text-align: center;
}

/* .about img{
    width: 200px;
    
} */

.about li{
    text-align: center;
}
.about img{
    border-radius: 50%;
    width: 100px;
  }
  
  .about h3{
    text-align: center;
    margin: 10px 0;
  }
  
  .details li{
    margin: 0 40px;
  }

  .social-network{
    align-items: baseline;
    justify-content: center;
  }
  
  .social-network a{
    text-decoration: none;
    color: #323232;
  
  }
  
  .facebook a{
    width: 40px;
    height: 40px;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    background-color: #ffffff;
    border-radius: 50%;
  }
  
  .facebook a:hover{
    background-color: #4267b2
  }
  
  .linkedin{
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
  }
  
  .linkedin:hover{
    background-color: #0077B5;
  }
  
  .about .contact{
    background-color: #2E2532;
    color: #ffffff;
    padding: 0 0 20px 0;
   
  }
  
 .about input[type="email"]{
    margin: 20px 20px;
    padding: 10px;
    transition: all 0.3s ease;
    border: 5px solid lightgray;
    outline: none;
  }
  
  .about input[type="email"]:focus{
    box-shadow: 0 0 5px rgb(231, 195, 225);
    border: 1px solid rgb(255, 248, 254);
   
  }
  
  textarea{
    margin: 20px 20px;
    transition: all 0.3s ease;
    border: 5px solid lightgray;
    /* outline: none; */
  }
  
  textarea:focus{
    margin: 20px 20px;
    box-shadow: 0 0 5px rgb(231, 195, 225);
    border: 1px solid rgb(255, 248, 254);
   
  }

  .hamburger{
    display: none;
}


/* Footer */


footer {
    background-color: #f0f0f0;
    text-align: center;
    height: 300px;
    justify-content: center;
    align-items: center;
}


button{
    cursor: pointer;
    width: fit-content;
    border: none;
    padding: 5px;
}

button:hover{
    background-color:#9E4770;
}

.delete-btn{
    float: right;

}

.text-align-center{
    text-align: center;
}

ul{
    padding: 0px;
}


/* notes */
 .thumb-photo{
    width: 50px;
    cursor: pointer;
}

.note-edit{
    height: 100vh;
}

.note-app{
    height: 100vh;
    background-color: #FFE8E1;
}

.note-info{
    /* border: 1px solid black; */
    width: max-content;
    align-self: center;
}

.note-title{
    text-align: center;
    padding: 10px 0px;
    font-size: 3.3em;
}

i{
    cursor: pointer;
    font-size: 2em;
    color: #000000;
}


.display-image{
    width: 50%;
}

.newImg{
    width: 100px;
    height: 100px;
}

.noOutline input{
    border: none;
    outline: none;
}

.noOutline input:focus{
    outline: none;
}

.squreBullets{
    list-style-type: square;
}

.Markedbullets{
    text-decoration: line-through;
}

ul.note-list{
    padding: 0px;
}

li.list {
    text-decoration:none;
    color:#000000;
    display:block;
    width:10em;
    margin: 10px;
    padding:1em;
    border: #000000 solid 1px;
    border-radius: 10px;
  }

  .note-prev {
      padding: 10px 0px;
      text-align: center;
  }

  .pin {
    opacity: 0.2;
  }

  .un-pin {
      opacity: 1;
  }

  .note-filter{
      margin: 1em 0em;
  }

  .note-content{
      margin: 10px 0px;
  }

  /* .back-btn{
      float: left;
  } */

  .note-details{
      padding: 10px;
      height: 100vh;
      background-color: #D4DCCD;
  }

  .note-list-display{
    padding: 10px 0px;
    font-size: 1.5em;
  }
 
  @media (max-width: 440px) {
  
    .hamburger{
        padding-right: 10px;
        top:0;
        right: 0;
        display: flex;
        position: fixed;
        align-items: center;
        padding: 10px;
        color: #f0f0f0;
        border: none;
        z-index: 2;
    }

    .hamburger::after{
        content: "\2630";
        font-size: 30px;
    }

    .exit.hamburger::after{
        content: "\2715";
        font-size: 30px;
    } 

    .nav-bar-main {
        position: relative;
        display: none;
    }

    .open {
        padding: 0;
        display: block;
        position: relative;
        z-index: 2;
        top: 0;
    }

    a .open {
        transform: translate(100%, 0);
        transition: all .8s;
    }
   

    /* nav a:hover{
        color: #9E4770;
    }


    .nav a { 
        background: grey;
    } */

}